
/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
:root {
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --body-font-family: "Spezia", "Spezia Fallback", "sans-serif";
  --heading-font-family: "Speziaweb", "Speziaweb Fallback", "sans-serif";
  --body-font-size-m: 32px;
  --body-font-size-s: 11px;
  --body-font-size-xs: 12px;
  --heading-font-size-xxl: 60px;
  --heading-font-size-xl: 48px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 32px;
  --heading-font-size-s: 11px;
  --heading-font-size-xs: 12px;
  --nav-height: 167px;
  --header-height: var(--nav-height);
}

/* fallback fonts */
@font-face {
  font-family:"Relative Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:87.75%;
  descent-override:19.88%;
  line-gap-override:2.58%;
  size-adjust:104.62%;
}

@font-face {
  font-family:"Teodor Fallback";
  font-style:normal;
  font-weight:300;
  src:local("Arial");
  ascent-override:111.77%;
  descent-override:23.98%;
  line-gap-override:0.00%;
  size-adjust:88.40%;
}

@font-face {
  font-family:"Relative Fallback";
  font-style:normal;
  font-weight:700;
  src:local("Arial Bold");
  ascent-override:94.94%;
  descent-override:21.51%;
  line-gap-override:2.79%;
  size-adjust:96.70%;
}

@font-face {
  font-family:"Teodor Fallback";
  font-style:italic;
  font-weight:300;
  src:local("Arial Italic");
  ascent-override:111.71%;
  descent-override:23.97%;
  line-gap-override:0.00%;
  size-adjust:88.45%;
}

@font-face {
  font-family:"Speziaweb Fallback";
  font-style:normal;
  font-weight:600;
  src:local("Arial Bold");
  ascent-override:93.18%;
  descent-override:23.68%;
  line-gap-override:0.00%;
  size-adjust:102.70%;
}

@font-face {
  font-family:"Speziaweb Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:90.29%;
  descent-override:22.94%;
  line-gap-override:0.00%;
  size-adjust:105.99%;
}

@font-face {
  font-family:"Spezia Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:90.29%;
  descent-override:22.94%;
  line-gap-override:0.00%;
  size-adjust:105.99%;
}

@font-face {
  font-family:"Lato Fallback";
  font-style:italic;
  font-weight:100;
  src:local("Arial Italic");
  ascent-override:115.53%;
  descent-override:24.93%;
  line-gap-override:0.00%;
  size-adjust:85.43%;
}

@font-face {
  font-family:"Lato Fallback";
  font-style:italic;
  font-weight:300;
  src:local("Arial Italic");
  ascent-override:112.09%;
  descent-override:24.19%;
  line-gap-override:0.00%;
  size-adjust:88.05%;
}

@font-face {
  font-family:"Lato Fallback";
  font-style:normal;
  font-weight:300;
  src:local("Arial");
  ascent-override:104.19%;
  descent-override:22.48%;
  line-gap-override:0.00%;
  size-adjust:94.73%;
}

@font-face {
  font-family:"Lato Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:100.88%;
  descent-override:21.77%;
  line-gap-override:0.00%;
  size-adjust:97.84%;
}

@font-face {
  font-family:"Open Sans Fallback";
  font-style:normal;
  font-weight:700;
  src:local("Arial Bold");
  ascent-override:109.90%;
  descent-override:30.12%;
  line-gap-override:0.00%;
  size-adjust:97.26%;
}

@font-face {
  font-family:"Open Sans Fallback";
  font-style:normal;
  font-weight:300;
  src:local("Arial");
  ascent-override:101.58%;
  descent-override:27.84%;
  line-gap-override:0.00%;
  size-adjust:105.22%;
}

@font-face {
  font-family:"Open Sans Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:101.58%;
  descent-override:27.84%;
  line-gap-override:0.00%;
  size-adjust:105.22%;
}

@font-face {
  font-family:"Open Sans Fallback";
  font-style:normal;
  font-weight:600;
  src:local("Arial Bold");
  ascent-override:109.90%;
  descent-override:30.12%;
  line-gap-override:0.00%;
  size-adjust:97.26%;
}

@font-face {
  font-family:"Open Sans Fallback";
  font-style:normal;
  font-weight:800;
  src:local("Arial Bold");
  ascent-override:109.90%;
  descent-override:30.12%;
  line-gap-override:0.00%;
  size-adjust:97.26%;
}

@font-face {
  font-family:"Lato Fallback";
  font-style:normal;
  font-weight:100;
  src:local("Arial");
  ascent-override:107.20%;
  descent-override:23.13%;
  line-gap-override:0.00%;
  size-adjust:92.07%;
}

@font-face {
  font-family:"Open Sans Fallback";
  font-style:italic;
  font-weight:400;
  src:local("Arial Italic");
  ascent-override:107.47%;
  descent-override:29.46%;
  line-gap-override:0.00%;
  size-adjust:99.46%;
}

@font-face {
  font-family:"Open Sans Fallback";
  font-style:italic;
  font-weight:300;
  src:local("Arial Italic");
  ascent-override:107.47%;
  descent-override:29.46%;
  line-gap-override:0.00%;
  size-adjust:99.46%;
}

@font-face {
  font-family:"Open Sans Fallback";
  font-style:italic;
  font-weight:600;
  src:local("Arial Bold Italic");
  ascent-override:116.27%;
  descent-override:31.87%;
  line-gap-override:0.00%;
  size-adjust:91.93%;
}

@font-face {
  font-family:"Open Sans Fallback";
  font-style:italic;
  font-weight:700;
  src:local("Arial Bold Italic");
  ascent-override:116.27%;
  descent-override:31.87%;
  line-gap-override:0.00%;
  size-adjust:91.93%;
}

@font-face {
  font-family:"Open Sans Fallback";
  font-style:italic;
  font-weight:800;
  src:local("Arial Bold Italic");
  ascent-override:116.27%;
  descent-override:31.87%;
  line-gap-override:0.00%;
  size-adjust:91.93%;
}

@font-face {
  font-family:"Lato Fallback";
  font-style:italic;
  font-weight:700;
  src:local("Arial Bold Italic");
  ascent-override:114.18%;
  descent-override:24.64%;
  line-gap-override:0.00%;
  size-adjust:86.44%;
}

@font-face {
  font-family:"Lato Fallback";
  font-style:italic;
  font-weight:900;
  src:local("Arial Bold Italic");
  ascent-override:111.44%;
  descent-override:24.05%;
  line-gap-override:0.00%;
  size-adjust:88.57%;
}

@font-face {
  font-family:"Lato Fallback";
  font-style:normal;
  font-weight:900;
  src:local("Arial Bold");
  ascent-override:103.88%;
  descent-override:22.42%;
  line-gap-override:0.00%;
  size-adjust:95.02%;
}

@font-face {
  font-family:"Lato Fallback";
  font-style:normal;
  font-weight:700;
  src:local("Arial Bold");
  ascent-override:106.32%;
  descent-override:22.95%;
  line-gap-override:0.00%;
  size-adjust:92.83%;
}

@font-face {
  font-family:"Lato Fallback";
  font-style:italic;
  font-weight:400;
  src:local("Arial Italic");
  ascent-override:108.48%;
  descent-override:23.41%;
  line-gap-override:0.00%;
  size-adjust:90.98%;
}

@font-face {
  font-family:"Spezia Fallback";
  font-style:normal;
  font-weight:600;
  src:local("Arial Bold");
  ascent-override:90.74%;
  descent-override:23.06%;
  line-gap-override:0.00%;
  size-adjust:105.47%;
}

@font-face {
  font-family:"Spezia Fallback";
  font-style:normal;
  font-weight:500;
  src:local("Arial");
  ascent-override:86.13%;
  descent-override:21.88%;
  line-gap-override:0.00%;
  size-adjust:111.11%;
}

@media (width>=900px) {
  :root {
    --body-font-size-m: 32px;
    --body-font-size-s: 11px;
    --body-font-size-xs: 12px;
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 24px;
    --heading-font-size-m: 32px;
    --heading-font-size-s: 11px;
    --heading-font-size-xs: 12px;
    --nav-height: 167px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header, footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"], footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code, pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main>div {
  margin: 40px 16px;
}

input, textarea, select, button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link, button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main>.section {
  margin: 40px 0;
}

main>.section>div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main>.section:first-of-type {
  margin-top: 0;
}

@media (width>=900px) {
  main>.section>div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light, main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

.section.hidden {
  display: none;
}

.section.section-1 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/ef68a0f968464bcba864ff227bcd20d5?v=b91b6946") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-2 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-pale-gray?v=58b37a49") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-3 {
  background: rgb(17 124 150) none repeat scroll 0% 0% / auto padding-box border-box;
}

.section.section-4 {
  background: rgb(242 242 242) none repeat scroll 0% 0% / auto padding-box border-box;
}

.section.section-5 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/7e872fe177c04eb0bf9cf779c03fa917?v=230e7835") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-6 {
  background: rgb(255 255 255) none repeat scroll 0% 0% / auto padding-box border-box;
}

.section.section-7 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-pale-gray?v=4cad8e7e") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-8 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/ba21ee25d7784f7ea66d7c87ab563c77?v=bbad1718") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-9 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=c0bc3ef1") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-10 {
  background: rgb(10 47 181) none repeat scroll 0% 0% / auto padding-box border-box;
}

.section.section-11 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/472b180aaeba47e68ea2c4ccc0a80672?v=1e96192b") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-12 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=ee24ba41") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-13 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/fd45aa9d3e894fa5aea6725cc448cf01?v=ff2b7322") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-14 {
  background: rgb(17 124 150) none no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-15 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053-delivery.stylelabs.cloud/api/public/content/693e311de85549f787e52539c8258c29?v=6a900599") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-16 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=6083937a") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-17 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-pale-gray?v=a09ea258") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-18 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/67dc7fbab9964c099473a534e9ef4cc5?v=7cfe2075") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-19 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/4b6f96fb47e348b6adc41a0a42f0b314?v=63f967e5") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-20 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/2756bbe83c77460f8bfb02035f86e9ba?v=2fcb425a") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-21 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/4a0e4b4f21a548859c031e3cf7abbe07?v=5119a130") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-22 {
  background: rgb(74 0 128) none repeat scroll 0% 0% / auto padding-box border-box;
}

.section.section-23 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=323f6806") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-24 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/f837944fb6c040119bc8206bf48265e5?v=f1c84107") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-25 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/bac7add164d94ae9a597a3c0477f72d5?v=68cdf13b") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-26 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/b3670f5545644a23acbce629c311da08?v=df7067e1") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-27 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/6710e349635c4c74addd8f2dbba72ea3?v=a97794ee") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-28 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/df1a7ddca97040aab8c4e36bfba6bd2a?v=6a7dd8a2") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-29 {
  background: rgb(8 19 41) none repeat scroll 0% 0% / auto padding-box border-box;
}

.section.section-30 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=b4ef3300") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-31 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/b97e9a711e36448eacf474dd7b137ec8?v=a250ad20") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-32 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=3c11c934") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-33 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/5be2861cba4f46b39196a323f2f66f52?v=45dc03a2") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-34 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053-delivery.sitecorecontenthub.cloud/api/public/content/c67169b0da7a4e889ddc5bdacf8fd13d?v=29f35f5d") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-35 {
  background: rgb(0 0 0 / 0%) linear-gradient(76deg, rgb(32 1 54 / 49%) 18%, rgb(10 47 181 / 23%) 51%, rgb(0 0 0 / 0%) 86%) repeat scroll 0% 0% / auto padding-box border-box;
}

.section.section-36 {
  background: rgb(247 247 247) none repeat scroll 0% 0% / auto padding-box border-box;
}

.section.section-37 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/c94922b90d5643f1bd207c0709504742?v=4025b592") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-38 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/d5b37ba66cf34bebadf77f8bfdb63e1f?v=b1cc7423") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-39 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=d9329f8c") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-40 {
  background: rgb(0 0 0 / 0%) url("https://cdn.prod.website-files.com/61f45be413d8ed7a4b2b4c2f%2F67463c02a3f0bdc96441d512_how-find-best-leaders-poster-00001.jpg") repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-41 {
  background: rgb(0 0 0) none repeat scroll 0% 0% / auto padding-box border-box;
}

.section.section-42 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/af3acdce78af4dc2a80c95b3d12fa124?v=9282e9a3") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-43 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=468c0461") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-44 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/d1a8a22b4cdd459591b2def9d585dfc8?v=c8dc649f") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-45 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/c8860f07e6e04747b5f1890e3149f7a2?v=8ad7727c") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-46 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/71fc618a6bf04310899254e5babd5ec1?v=ad65ad98") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-47 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/13b2edcdd7fc4b23bb9c907824a66d01?v=61f0942c") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-48 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=0b61474d") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-49 {
  background: rgb(0 0 0 / 0%) url("https://cdn.prod.website-files.com/61f45be413d8ed7a4b2b4c2f%2F6758febb2d610ac86dd58918_4plan-for-succession-poster-00001.jpg") repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-50 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/a6d0dcedccc84fcf8021f39e608a8ef7?v=07eb7f4e") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-51 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/16416c7f231143329362fc6fc47944db?v=f02becfc") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-52 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/7f663a0eee584d69bb62c983f27345c0?v=b1e47b0c") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-53 {
  background: rgb(0 0 0 / 0%) url("https://cdn.prod.website-files.com/61f45be413d8ed7a4b2b4c2f%2F6753da21526c8e35b3bcd5b6_business%20transformation-poster-00001.jpg") repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-54 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/1c00dbd80c3c4873b4fca31364b900f9?v=33b9f8d6") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-55 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/bdce5757d5d840fda55d41c6380761a9?v=b7c450ec") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-56 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/322da19b735b4a2fa9b361bfd8b02dc9?v=f0abe687") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-57 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=e605a803") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-58 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/322da19b735b4a2fa9b361bfd8b02dc9?v=05985b9c") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-59 {
  background: rgb(0 0 0 / 0%) url("https://cdn.prod.website-files.com/61f45be413d8ed7a4b2b4c2f%2F6758fe563088f3265bb92ce0_3better-leader-poster-00001.jpg") repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-60 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/a918497b040b48f5a0bd29d86a5884b0?v=5acb0190") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-61 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053-delivery.stylelabs.cloud/api/public/content/d5cc3f1d6d4346bfb715b7e9dd1746f1?v=55204bd2") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-62 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/90268521f8a440e895b9369ff7f1e73d?v=2efc412b") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-63 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/199c0f454531495c9543293005b2a27e?v=692d1c09") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-64 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/e7467bf9e23a4d4abe9b69b9c1c5cc79?v=56a5b0e5") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-65 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/11150400c87e4cf78fa91e24106b5be4?v=c0bf8bb3") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-66 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/226e3504ff1d457da2368bb259f6cd09?v=2fa8a742") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-67 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=55fd817a") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-68 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/c17a50a71652421abea366150f8ba9db?v=6e73dfbd") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-69 {
  background: rgb(0 0 0 / 0%) url("https://cdn.prod.website-files.com/61f45be413d8ed7a4b2b4c2f%2F6753bde07c57e4404801996f_boost%20performance-poster-00001.jpg") repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-70 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/feecc49babac4f318929a39169ad3349?v=8df5fccf") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-71 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/31a73faa42fc4940bbee45d505e2c76b?v=504e06ca") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-72 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/4331872cdf04466ab71ffb3c086a84e3?v=c959cf24") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-73 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=dfe2de7d") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-74 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/06ed4cf64db24e918550c91bfdacaa97?v=5eb9194a") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-75 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/07116bd3ed95455d8bfb36183194c422?v=9e4d0f1a") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-76 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=1c02809f") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-77 {
  background: rgb(0 0 0 / 0%) url("https://cdn.prod.website-files.com/61f45be413d8ed7a4b2b4c2f%2F675904ea0869bdc9ccc3bea5_set-up-board-poster-00001.jpg") repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-78 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/55bdb9fe19e04e7c9b9eda3d93148e7a?v=18443efd") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-79 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-background-soft-gray?v=615b7bc2") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-80 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/4c4f956e4f0a4db09fc18debd2c5d45d?v=b43b68fa") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-81 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/image-ceo-turnover-2023?v=7676f7a8") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-82 {
  background: rgb(0 0 0 / 0%) url("https://cdn.prod.website-files.com/61f45be413d8ed7a4b2b4c2f/661d62b1a72e9a7f2c40723b_world-map-purple-618069512.png") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-83 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/07c7826d4e794536a0d86a4d8db94fd8?v=a5aa1afc") no-repeat scroll 50% 50% / cover padding-box border-box;
}

.section.section-84 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053.stylelabs.cloud/api/public/content/e4fa0ab2abbc43a0a5e80b801257cf42?v=de219b1c") no-repeat scroll 0% 0% / cover padding-box border-box;
}

.section.section-85 {
  background: rgb(0 0 0 / 0%) url("https://mss-p-053-delivery.sitecorecontenthub.cloud/api/public/content/b221862206e84012a981b5c39493e218?v=aee01c23") no-repeat scroll 0% 0% / cover padding-box border-box;
}